In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import seaborn as sns
import scipy.stats as sts

In [3]:
df=pd.read_csv("DS1_C8_Computers_Data_Project (2).csv")
df

,index,price,speed,hd,ram,screen,cd,multi,premium,ads_2022,ads_2023,trend
0,1,1499,25,80,4,14,no,no,yes,94,94,1
1,2,1795,33,85,2,14,no,no,yes,94,94,1
2,3,1595,25,170,4,15,no,no,yes,94,94,1
3,4,1849,25,170,8,14,no,no,no,94,94,1
4,5,3295,33,340,16,14,no,no,yes,94,104,1
...,...,...,...,...,...,...,...,...,...,...,...,...
6254,6255,1690,100,528,8,15,no,no,yes,39,70,35
6255,6256,2223,66,850,16,15,yes,yes,yes,39,70,35
6256,6257,2654,100,1200,24,15,yes,no,yes,39,70,35
6257,6258,2195,100,850,16,15,yes,no,yes,39,70,35
6258,6259,2490,100,850,16,17,yes,no,yes,39,70,35

In [4]:
df.shape

(6259, 12)

In [5]:
df.isnull().sum()

index       0
price       0
speed       0
hd          0
ram         0
screen      0
cd          0
multi       0
premium     0
ads_2022    0
ads_2023    0
trend       0
dtype: int64

In [6]:
#separate the numerical and non numerical columns in dataframes

continous=df.select_dtypes(include="number")
print("numerical columns are:",continous.columns.tolist())

cate=df.select_dtypes(exclude="number")
print("categorial collumns are:",cate.columns.tolist())

numerical columns are: ['index', 'price', 'speed', 'hd', 'ram', 'screen', 'ads_2022', 'ads_2023', 'trend']
categorial collumns are: ['cd', 'multi', 'premium']

In [ ]:
df.value_counts()